<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="UTF-8">
   <title>Aconteceu um erro {{ status_code }}</title>      
   <link rel="icon" type="image/x-icon" href="{{ asset('bundles/pmcintranet/img/favicon.pgn') }}">
   <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/pmcintranet/img/favicon.png')}}">  
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 </head>
 <body>   

<div class="container"> 
 <h1>Aconteceu um erro</h1>
 <h2>O recurso solicitando não existe ou esta indisponível.</h2>
 <div>
    Entre em contato com o pessoal da assistência técnica para resolver a falha, 
    sentimos muito o transtorno ocasionado.     

 </div>    

</div>

 </body>
</html>