{% if  is_granted('ROLE_PRENSA')  %}
<div class="panel-footer" style="text-align: right">
    <button type="button" class="btn btn-danger btn-sm"
            onclick="excluirSecretaria({{ s.id }}, 1)">Excluir</button>&nbsp;  
    <a href="{{path('editarSecretaria', { 'id': s.id } ) }}">
       <button type="button" class="btn btn-primary btn-sm">Editar</button>
    </a>        
</div>
{% endif %}