<div class="panel-body" style="height: 280px; overflow-y: scroll">
{% if s.mapa|length > 0 %}  
   {{ s.mapa|raw }}    
{% else %}  
 <div class="panel-body" >        
   <div style="padding: 0px 20px 5px 10px; float: left">
        <img src="{{ asset(path_img ~ 'noMap.png')}}"  />
   </div>   
   <p style="padding-top: 20px">Secretaria sem mapa cadastrado</p>          
 </div>  
{% endif %}
</div>