<div class="panel-body" style="height: 280px; overflow-y: scroll">
{% if (s.servicos|length > 0) %}    
   {% for v in s.servicos %} 
      {% if v.ativo %}  
         <div class="row" style="border-bottom: #D3D3D3 dashed 1px ">         
            <div class="col-sm-12 panel-body" >    
                 {{ v.nome|upper }}
               <div style="text-align: right"> 
                 <a href="{{path('solicitarServico', { 'id': v.id } ) }}" role="button" 
                    class="btn btn-success btn-xs" data-toggle="modal">Solicitar Serviço</a>                  
               </div>   
            </div>       
         </div>
      {% endif %}  
   {% endfor %}
{% else %}
 <div class="panel-body" >        
   <div style="padding: 0px 20px 5px 10px; float: left">
        <img src="{{ asset(path_img ~ 'Earth-Engine-128.png')}}"  />
   </div>   
   <p style="padding-top: 20px">Secretaria sem serviços cadastrados</p>          
 </div>  
{% endif %}        
</div>   