{# Correo que reciben los usuarios al ser registrados en el sistema #}
<html>
 <head></head>
 <body>
  Olá <strong>{{ nome }}</strong>,<br/>
  <p>Seja bem-vindo à Intranet da <strong>Prefeitura Municipal de Carapicuíba</strong>.</p>
  <p>Para completar a ativação da sua conta, deve dar um click em
      <a href="{{ url }}"> Ativar </a></p>
  <p>Também pode copiar e colar o link a seguir em seu navegado: </p> 
  <p><strong>{{ url }}</strong></p>
  <p>Obrigado pela atenção.<br/>
  Em caso de duvida, entrar em contato pelo telefone.</p>  
 <hr/>
  E-mail gerado pelo sistema de Intranet.<br/>
  <strong>Não responder.</strong>
</body></html>
