<div class="row-fluid">   
    <div class="col-sm-12" style="text-align: center">
{% if data.banners|length == 0 %}        
      <div class="banner">
         <img src="{{ asset(path_img ~'bannerDisponivel.png')}}" 
              style="width:100%;">
      </div>       
{% else %}            
   {% for banner in data.banners %}       
      <div class="banner" title="{{ banner.nome }}">
        <a href="{{ banner.url }}" target="_blank">
          {% set src = asset(path_img ~'no_banner.png') %}
          {% if (banner.imagem|trim|length > 0) %}
             {% set src = asset(path_banners~banner.imagem) %}             
          {% endif %}  
          <img src="{{ src }}" 
               style="width:100%;">
        </a>
      </div>               
   {% endfor %}     
{% endif %}
    </div>
</div>
