<!DOCTYPE HTML>
<html lang="pt">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="pt" />
   <title>{% block title %}Prefeitura Municipal de Carapicuiba{% endblock %}</title>      
   <link rel="icon" type="image/x-icon" href="{{ asset('bundles/pmcintranet/img/favicon.png') }}">
   <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/pmcintranet/img/favicon.png') }}">  
   <meta name="viewport" content="width=device-width, initial-scale=1">
{# Sección de Assetics #}
   {% stylesheets  output='css/pmc.css' 
                  '@PmcIntranetBundle/Resources/public/css/bootstrap.css'  
                  '@PmcIntranetBundle/Resources/public/css/bootstrap-theme.css' 
                  '@PmcIntranetBundle/Resources/public/css/styles.css'
   %}              
   <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
   {% endstylesheets %}
   
 </head>
 <body id="voltarTopo">     
  {% block body %}
  {% endblock %}          
   
{# Ventana emergente #}
  <div id="modalWindow"></div>  
  <input type="button" class="voltarTopo" value="Voltar ao topo"
         onclick="$j('html,body').animate({scrollTop: $j('#voltarTopo').offset().top}, 1000);" />
  
{# Sección Javascript #}
   {% javascripts output='js/pmc.js'
                  '@PmcIntranetBundle/Resources/public/js/jquery.js'
                  '@PmcIntranetBundle/Resources/public/js/bootstrap.js'      
                  '@PmcIntranetBundle/Resources/public/js/common.js'                  
    %}
   <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}

   {% block javascripts %}   
   {% endblock %}  
  <script type="text/javascript">
            // Use jQuery com a variavel $j(...)
            var $j = jQuery.noConflict();
            $j(document).ready(function() {
                $j(".voltarTopo").hide();
                $j(function () {
                    $j(window).scroll(function () {
                    if ($j(this).scrollTop() > 300) {
                        $j('.voltarTopo').fadeIn();
                    } else {
                        $j('.voltarTopo').fadeOut();
                    }
                });
                $j('.voltarTopo').click(function() {
                    $j('body,html').animate({scrollTop:0},600);
                }); 
            });});
  </script>
 </body>
</html>