<div class="row panel panel-default" style="margin-top: -22px; z-index: 5">
  <div class="col-sm-12 panel-heading" style="text-align:right">
      {{ p.id }}
    <button type="button" class="btn btn-danger btn-sm">Excluir</button>&nbsp;  
    <button type="button" class="btn btn-primary btn-sm">Editar</button>
  </div>
</div>    