<footer class="footer" style="font-size:0.9em">
<div class="container"> 
  <div class="row"> 
    <div class="col-sm-3">
     © Prefeitura Municipal de Carapicuíba
    </div>          
    <div class="col-sm-3 col-md-offset-5">
     Política de Privacidade e Termos de Uso
    </div>          
  </div> 
</div>
</footer>