<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Intranet - Prefeitura Municipal de Carapicuíba</title>
<meta name="author" content="Gallardo"/>
<meta http-equiv="content-language" content="pt-br" />
<meta name="robots" content="nofollow" />
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/style.css" rel="stylesheet" media="screen">
<link href="css/responsive.css" rel="stylesheet" media="screen">
</head>

<body>
<!--HEADER-->
<div class="row top">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <div class="top-ico"> <img src="images/ico-user.png" width="36" height="33"></div>
        <div class="top-user">Roberto Martins | <a href="index.html">SAIR</a></div>
      </div>
      <div class="span5">
        <div class="input-prepend input-append busca">
        <div class="btn-group">
    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
      <img src="images/ico-seg-busca.png" width="23" height="20" /> 
    </button>
    <ul class="dropdown-menu" style="margin-top:15px;">
     <li class="nav-header">Filtrar por:</li>
      <li><a href="#"><span class="ico-menu"><img src="images/ico-rede.png"></span>Minha Rede</a></li>
      <li><a href="#"><span class="ico-menu"><img src="images/ico-secretarias.png"></span>Secretarias</a></li>
      <li><a href="#"><span class="ico-menu"><img src="images/ico-servicos.png"></span>Serviços</a></li>
    </ul>
  </div>
          <input class="span10" id="appendedInputButton" type="text" placeholder="Busca">
          <button class="btn btn-danger" type="button"><img src="images/ico-busca.png" height="50"></button>
        </div>
      </div>
      <div class="span2">
        <div class="ico-avisos top-avisos"> <img src="images/ico-avisos.png" width="20" height="24"></div>
        <div class="top-user top-avisos">
          <div class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Meus Avisos (5)</a>
            <ul class="dropdown-menu" style="margin-top:20px; width:250px;" role="menu" aria-labelledby="dLabel">
              <li class="nav-header">Mensagens</li>
              <li><a tabindex="-1" href="#"><img src="images/secretaria-educacao.jpg"><span style="margin-left:5px;">Aparecida Graça Carlos</span></a></li>
              <li class="divider"></li>
              <li class="nav-header">Eventos</li>
              <li><a tabindex="-1" href="#">Eventos (3)</a></li>
              <li class="divider"></li>
              <li class="nav-header">Comunicados</li>
              <li><a tabindex="-1" href="#">Comunicados (3)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--HEADER--> 
<!--CONTENT-->
<div class="container">
  <div class="row"> 
    <!--COLUNA LEFT-->
    <div class="span4" id="sombra">
      <div class="row-fluid">
        <div class="span12 logo"> <a href="home.html">
           <img class="span10 offset1" src="images/logo.png"></a> 
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <ul class="nav nav-tabs nav-stacked utilidade">
            <li class="utilidade-tit">Utilidade</li>
            <li class="utilidade-ativo"><a href="home.html" style="color:#000;"><span class="ico-menu"><img src="images/ico-inicio.png"></span>Início</a></li>
            
            <li class="utilidade-fundo"><a href="secretarias.html"><span class="ico-menu"><img src="images/ico-secretarias.png"></span>Secretarias</a></li>
            <li class="utilidade-fundo"><a href="servicos.html"><span class="ico-menu"><img src="images/ico-servicos.png"></span>Serviços</a></li>
            <li class="utilidade-fundo"><a href="solicitacoes.html"><span class="ico-menu"><img src="images/ico-solicitacoes.png"></span>Serviços Solicitados</a></li>
            <li class="utilidade-fundo"><a href="leis.html"><span class="ico-menu"><img src="images/ico-leis.png"></span>Leis e Decretos</a></li>
            <li class="utilidade-fundo"><a href="links.html"><span class="ico-menu"><img src="images/ico-links.png"></span>Links Úteis</a></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <ul class="nav nav-tabs nav-stacked social">
            <li class="social-tit">Social</li>
            <li class="social-fundo"><a href="mensagens.html"><span class="ico-menu"><img src="images/ico-mensagens.png"></span>Mensagens</a></li>
            <li class="social-fundo"><a href="comunicados.html"><span class="ico-menu"><img src="images/ico-comunicados.png"></span>Comunicados</a></li>
            <li class="social-fundo"><a href="eventos.html"><span class="ico-menu"><img src="images/ico-eventos.png"></span>Eventos</a></li>
            <li class="social-fundo"><a href="noticias.html"><span class="ico-menu"><img src="images/ico-noticias.png"></span>Notícias</a></li>
            <li class="social-fundo"><a href="rede.html"><span class="ico-menu"><img src="images/ico-rede.png"></span>Minha rede</a></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <ul class="nav nav-tabs nav-stacked adm">
            <li class="adm-tit">Administrativo</li>
            <li class="adm-fundo"><a href="banners.html"><span class="ico-menu"><img src="images/ico-banners.png"></span>Banners</a></li>
            <li class="adm-fundo"><a href="seguranca.html"><span class="ico-menu"><img src="images/ico-seguranca.png"></span>Gerenciamento de Logs</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--COLUNA LEFT END--> 
    <!--COLUNA CENTRO-->
    <div class="span5">
      <div class="row-fluid">
        <div class="span12 filtro-principal">
          <div class="row-fluid">
            <div class="span4">
              <h5 class="tit-azul">Mensagens</h5>
            </div>
            <div class="span5 offset3">
            <div style="text-align:right"> 
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseNovo"></a></div>
            
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <textarea class="span12" placeholder="Escreva sua Mensagem" rows="3"></textarea>
              <img class="space-left marcador-mensagens" src="images/ico-marcador-mensagem.png" width="22" height="14" />
              <div class="row-fluid">
              	<div class="span12">
                <ul class="nav nav-pills">
  <li class="active">
    <a href="#"><img src="images/btn-texto-msg.png" width="28" height="32" /></a>
  </li>
  <li><a href="#myModal2" role="button" data-toggle="modal"><img src="images/btn-imagem-msg.png" width="45" height="32" /></a></li>
  <li><a href="#myModal3" role="button" data-toggle="modal"><img src="images/btn-video-msg.png" width="30" height="32" /></a></li>
</ul> 
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <!--BOX NOTÍCIAS-->
      <div class="row-fluid">
        <div class="span12">
          <h6 class="tit-vermelho linha-vermelha">Notícias</h6>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="accordion" id="accordion2">
            <div class="accordion-group box-noticias">
              <div class="accordion-heading">
                <div class="row-fluid">
                  <div class="span6">
                    <div style="padding:20px;"><span class="tit-noticias">
                      <p>Programa de Saúde na Escola é implantado em Carapicuíba</p>
                      </span> <span class="resumo-noticias">
                      <p>Na última quarta feira, 06 de novembro, foi realizada a capacitação para diretoras, coordenadoras pedagógicas e professores de educação física.</p>
                      </span> </div>
                  </div>
                  <div class="span6">
                    <div style="padding:20px;"> <a href="#" class="thumbnail inner-border"><img src="images/img-noticia1.jpg"></a> </div>
                  </div>
                </div>
                <hr>
                <div class="row-fluid">
                  <div class="span4">
                    <div class="ico-comentarios"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><img src="images/ico-comentarios.png" width="22" height="24"><span style="margin-left:5px;">Comentários</span></a></div>
                  </div>
                  <div class="span4 offset4">
                    <div class="ico-leia"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><img src="images/ico-leia.png" width="23" height="19"><span style="margin-left:5px;">Leia Mais</span></a></div>
                  </div>
                </div>
              </div>
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <p>Na última quarta feira, 06 de novembro, foi realizada a capacitação para diretoras, coordenadoras pedagógicas e professores de educação física para atuar no Programa de Saúde na Escola, programa do Ministério da Saúde.</p>
                  <p>O evento contou com participação de 40 profissionais de 15 escolas que integram o Programa. A área de enfermagem da saúde explicou a importância de realizar a avaliação antropométrica (medição de peso e estatura) das crianças para detectar as que estão acima ou abaixo do peso, com vistas a combater a desnutrição e a obesidade infantil.</p>
                  <p>A nutricionista da Secretaria da Saúde apresentou dicas de alimentação saudável desde o nascimento até adolescência chamando a atenção no envolvimento dos pais para promover a hábitos de alimentação a saudável. Também foram apresentados os principais problemas oculares na infância e ensinou os professores na realização do exame de acuidade visual (teste de Snellen) para identificar crianças que devem passar em consulta oftalmológica.</p>
                  <p>O Programa Saúde na Escola foi criado para manter a integração e articulação permanente da educação e da saúde, contribuindo na formação integral dos estudantes por meio de ações de promoção, prevenção e atenção a saúde, proporcionando melhor qualidade de vida.</p>
                  <div class="row-fluid">
                    <div class="span12">
                      <hr>
                      <textarea rows="3" class="span12" placeholder="Postar Comentário"></textarea>
                      <hr>
                      <div>
                        <p>Comentários (1)</p>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12" style="border:1px solid #ccc;">
                      <div class="row-fluid">
                        <div class="span2" style="padding:5px;"> <img class="img-polaroid" src="images/secretaria-educacao.jpg" width="40" height="33"> </div>
                        <div class="span10">
                          <span class="name-comentarios">Aparecida Graça Carlos</span>
                           
                        
                          <span class="resumo-noticias" style="margin-top:5px; color:#000;">Ótima notícia!</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="ocultar"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Ocultar Notícia</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--BOX NOTÍCIAS END--> 
      
      <!--BOX EVENTOS-->
      <div class="row-fluid">
        <div class="span12">
          <h6 class="tit-azul linha-azul">Eventos</h6>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 box-eventos">
          <div class="row-fluid">
            <div class="span8">
              <div><img class="span12" src="images/img-evento2.jpg"></div>
              <div class="box-eventos-comentarios span12" style="margin-left:0px;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><img src="images/ico-comentarios2.png" width="22" height="24"><span style="margin-left:5px;">Comentários</span> </a></div>
            </div>
            <div class="span4" style="margin-left:0px;">
              <div class="row-fluid" style="background-color:#06C; height:65px; padding-left: 8%;">
                <div class="span12">
                  <div class="tit-branco2 inicio-eventos">Início</div>
                  <div class="tit-branco2 data-eventos">08 nov</div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span12">
                  <div class="text-eventos"> Cerimônia de Encerramento do 5º Ciclo do Brasil Alfabetizado </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span8 offset4" style="height:35px; line-height:35px;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><img src="images/ico-leia2.png" width="23" height="19"><span style="margin-left:5px;">Leia Mais</span></a> </div>
              </div>
            </div>
          </div>
          <div class="row-fluid">
              <div class="span12">
                <div class="accordion" id="accordion2">
                  <div class="accordion-group">
                    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                      <div class="accordion-inner conteudo-eventos" style="background-color:#fff;"> <p>Na próxima sexta-feira, 8 de novembro, às 20h, a Prefeitura de Carapicuíba, por meio da Secretaria da Educação, realiza a Cerimônia de Encerramento do 5º Ciclo do Programa Brasil Alfabetizado. A Cerimônia acontece no Teatro do FUCA (Rua José Fernandes Teixeira Zuza, 510 – vila Cretti).</p>
 
<p>Neste ano, o Programa Brasil Alfabetizado formou 30 salas, atingindo 462 pessoas. Destas, 250 chegaram ao final e receberão o certificado de conclusão do curso, podendo ingressar no EJA (Educação de Jovens e Adultos).</p>
<div class="row-fluid">
                    <div class="span12">
                      <hr>
                      <textarea rows="3" class="span12" placeholder="Postar Comentário"></textarea>
                      <hr>
                      <div>
                        <p>Comentários (1)</p>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12" style="border:1px solid #ccc;">
                      <div class="row-fluid">
                        <div class="span2" style="padding:5px;"> <img class="img-polaroid" src="images/secretaria-educacao.jpg" width="40" height="33"> </div>
                        <div class="span10">
                          <span class="name-comentarios">Aparecida Graça Carlos
                          </span>
                           
                       
                          <span class="resumo-noticias space-top" style="color:#000;">Ótimo evento!</span>
                        </div>
                      </div>
                    </div>
                  </div>
                 <div class="row-fluid">
                 	<div class="span12">
                    	<div class="ocultar"><a class="accordion-toggle collapsed" data-toggle="collapse" style="color:#000;" data-parent="#accordion2" href="#collapseTwo">Ocultar Evento</a></div>
                    </div>
                 </div>
</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!--BOX EVENTOS END--> 
      <!--BOX COMUNICADOS-->
      <div class="row-fluid">
        <div class="span12">
          <h6 class="tit-verde linha-verde">Comunicados</h6>
        </div>
      </div>
      <div class="row-fluid">
		<div class="span12 box-comunicados">
        	<div class="row-fluid">
            	<div class="span4 box-comunicados-data">
                	<div style="padding-top:50px; height:165px;">
                		<div class="tit-branco2 dia-comunicado">
                		19
           		</div>
                <div class="mes-comunicado">nov</div>
                	</div>
                    <div class="box-comunicados-comentarios span12" style="margin-left:0px;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree"><img src="images/ico-comentarios2.png" width="22" height="24"><span style="margin-left:5px;">Comentários</span> </a></div>
                </div>
                <div class="span8" style="margin-left: 0px; width:68.2%;">
                	<div>
                    <img src="images/img-comunicado1.jpg"/></div>
                    <div class="text-comunicados">
                    GCM é homenageada em São Paulo
                    </div>
                    <div class="span4 offset7" style="height:35px; line-height:35px; text-align:right;"> <a class="accordion-toggle collapsed" data-toggle="collapse" style="color:#fff;" data-parent="#accordion3" href="#collapseThree"><img src="images/ico-leia2.png" width="23" height="19"><span style="margin-left:5px;">Leia Mais</span></a> </div>
                </div>  
            </div>
        </div>
        <!--CONTEÚDO-->
                <div class="row-fluid">
                	<div class="span12">
                    	<div class="accordion" id="accordion2">
                
                
                <div class="accordion-group">
                  
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>A Guarda Civil Municipal de Carapicuíba foi homenageada na sessão solene de comemoração ao Dia Nacional do Guarda Civil Municipal nesta sexta, 11, na Assembléia Legislativa do Estado de São Paulo. A solenidade contou com a presença de mais de 400 pessoas e representantes de 70 cidades dos estados de São Paulo e Rio de Janeiro. </p>
 
<p>A Guarda Civil de Carapicuíba foi representada por Anali Correia dos Santos e Fabiano Morgado de Oliveira e receberam da Associação Brasileira dos Guardas Municipais (Abraguardas) a insígnia Estrela de Luz e diploma de Honra ao Mérito pelos trabalhos desempenhados junto à comunidade. </p>
<div class="row-fluid">
                    <div class="span12">
                      <hr>
                      <textarea rows="3" class="span12" placeholder="Postar Comentário"></textarea>
                      <hr>
                      <div>
                        <p>Comentários (1)</p>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12" style="border:1px solid #ccc;">
                      <div class="row-fluid">
                        <div class="span2" style="padding:5px;"> <img class="img-polaroid" src="images/secretaria-educacao.jpg" width="40" height="33"> </div>
                        <div class="span10">
                          <span class="name-comentarios">Aparecida Graça Carlos
                          </span>
                           
                       
                          <span class="resumo-noticias space-top" style="color:#000;">Ótimo evento!</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid">
                 	<div class="span12">
                    	<div class="ocultar"><a class="accordion-toggle collapsed" data-toggle="collapse" style="color:#000;" data-parent="#accordion2" href="#collapseThree">Ocultar Comunicado</a></div>
                    </div>
                 </div>
                    </div>
                  </div>
                </div>
              </div>
                    </div>
                </div>
                <!--CONTEÚDO END-->
      </div>
      <!--BOX COMUNICADOS END-->
    </div>
    <!--COLUNA CENTRO END--> 
    <!--COLUNA RIGHT-->
    <div class="span3">
      <div class="banner-1"> <img src="images/banner1.jpg" width="183" height="91"></div>
      <div class="banner"> <img src="images/banner2.jpg" width="183" height="91"></div>
      <div class="banner"> <img src="images/banner3.jpg" width="183" height="91"></div>
    </div>
    <!--COLUNA RIGHT END--> 
  </div>
</div>
<!--CONTENT END--> 

<!--FOOTER-->
<div class="row-fluid footer">
  <div class="container">
    <div class="span3">
      <p>© Prefeitura Municipal de Carapicuíba </p>
    </div>
    <div class="span3 offset5"> <a href="#">Política de Privacidade e Termos de Uso</a> </div>
  </div>
</div>
<!--FOOTER END--> 

<script src="http://code.jquery.com/jquery-latest.js"></script> 
<script src="js/bootstrap.min.js"></script>
</body>
</html>
