{% extends 'PmcIntranetBundle:Templates:base.html.twig' %}
{% block title %} 
    {{ parent() }}
{% endblock %}

{% block body %}
<div id="wrapper">
{% include 'PmcIntranetBundle:Templates:header.html.twig' %}

<div style="padding-bottom: 100px">
  <div class="container" >
   <div class="row">
    <div class="col-sm-4"> 
     {% include 'PmcIntranetBundle:Templates:menu.html.twig' %}
    </div>    
    <div class="col-sm-5"> 
      {% block content %}
            AQUI VA CONTENIDO
      {% endblock %}
    </div>           
    <div class="col-sm-3"> 
      {% include 'PmcIntranetBundle:Templates:banners.html.twig' %}
    </div>           
   </div>
  </div>
</div>       
{% include 'PmcIntranetBundle:Templates:footer.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}   
<script type="text/javascript">

</script>
{% endblock %}  