<div id="postar_{{ p.id }}">  
  <textarea id="comentario{{ p.id }}" class="form-control" title="Escreva sua Comentário"
            maxlength="250" placeholder="Postar Comentário" onclick ="$(this).focus();"
            onkeyup = "resizeTextarea($(this).attr('id'));"
            style="resize: vertical"></textarea>
  <div style="text-align: right; margin-top: 10px">
    <img style="display: none" src="{{asset(path_img ~'preload.gif')}}"/>
    <button type="button" class="btn btn-primary btn-sm"
            onclick="postarComentario( {{ p.id }} );">Comentar</button>  
  </div>
</div>       