<textarea class="form-control" title="Escreva sua Comentário"
          placeholder="Postar Comentário"
          style="resize: vertical"></textarea>
<div style="text-align: right; margin-top: 10px">
  <button type="button" class="btn btn-primary btn-sm">Comentar</button>
</div>