{% extends 'PmcIntranetBundle:Templates:base.html.twig' %}
{% block title %}
Proibido
{% endblock %}

{% block body %}
<div class="container"> 
    <div class="row">
        <div class="col-sm-12" style="margin-top: 50px">
            <img src="{{ asset(path_img ~'logo-carapicuiba.png') }}"/>   
            <h1>Acção Proibida.</h1>
            <br/>
            
            <h3>Você está tentando acessar um recurso para o qual não tem permissão.</h3>
            <br/>
            <h4>
            Entre em contato com o pessoal da assistência técnica para resolver a falha.
            </h4> 
         
        </div>
    </div>  
</div>
{% endblock %}