{% if is_granted('ROLE_PRENSA') or  is_granted('ROLE_ADMIN') %}
<div class="row panel panel-default">
  <div class="col-lg-12 panel-heading" style="text-align:right;">
    <button type="button" class="btn btn-danger btn-sm"
            onclick="excluirLeiDecreto({{ l.id }}, 1)">Excluir</button>&nbsp;  
    <a href="{{path('editarLeiDecreto', { 'id': l.id } ) }}">
       <button type="button" class="btn btn-primary btn-sm">Editar</button>
    </a>        
  </div>
</div>    
{% endif %}