{# Links del sistema #}    
{% for l in data.linksUteis %}  
  <div id="linkUteis_{{ l.id }}">    
   <div class="row panel panel-default" style="margin-top: 20px; margin-bottom:-1px;">
     <div class="col-sm-12 panel-body" >   
        <a class="tit-preto" href="{{ l.link }}" target="_blank">
            <i class="glyphicon glyphicon-circle-arrow-right"></i>&nbsp;{{ l.nome|upper }}</a> 
     </div>                  
   </div>  
 {% include 'PmcIntranetBundle:LinksUteis:controlLinkUteis.html.twig' %}             
 </div>         
{% endfor %}    