      <!--BOX COMUNICADOS-->
      <div class="row">
        <div class="col-lg-12">
          <h6 class="tit-verde linha-verde">Comunicados</h6>
        </div>
      </div>
      <div class="row">
	<div class="col-lg-12 box-comunicados">
        	<div class="row">
            	<div class="span4 box-comunicados-data">
                	<div style="padding-top:50px; height:165px;">
                		<div class="tit-branco2 dia-comunicado">
                		19
           		</div>
                <div class="mes-comunicado">nov</div>
                	</div>
                    <div class="box-comunicados-comentarios col-lg-12" style="margin-left:0px;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree"><img src="images/ico-comentarios2.png" width="22" height="24"><span style="margin-left:5px;">Comentários</span> </a></div>
                </div>
                <div class="span8" style="margin-left: 0px; width:68.2%;">
                	<div>
                    <img src="images/img-comunicado1.jpg"/></div>
                    <div class="text-comunicados">
                    GCM é homenageada em São Paulo
                    </div>
                    <div class="span4 offset7" style="height:35px; line-height:35px; text-align:right;"> <a class="accordion-toggle collapsed" data-toggle="collapse" style="color:#fff;" data-parent="#accordion3" href="#collapseThree"><img src="images/ico-leia2.png" width="23" height="19"><span style="margin-left:5px;">Leia Mais</span></a> </div>
                </div>  
            </div>
        </div>
        <!--CONTEÚDO-->
                <div class="row">
                	<div class="col-lg-12">
                    	<div class="accordion" id="accordion2">
                
                
                <div class="accordion-group">
                  
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p></p>
 
<p></p>
<div class="row">
                    <div class="col-lg-12">
                      <hr>
                      <textarea rows="3" class="col-lg-12" placeholder="Postar Comentário"></textarea>
                      <hr>
                      <div>
                        <p>Comentários (1)</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12" style="border:1px solid #ccc;">
                      <div class="row">
                        <div class="span2" style="padding:5px;"> <img class="img-polaroid" src="images/secretaria-educacao.jpg" width="40" height="33"> </div>
                        <div class="span10">
                          <span class="name-comentarios">Aparecida Graça Carlos
                          </span>
                           
                       
                          <span class="resumo-noticias space-top" style="color:#000;">Ótimo evento!</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                 	<div class="col-lg-12">
                    	<div class="ocultar"><a class="accordion-toggle collapsed" data-toggle="collapse" style="color:#000;" data-parent="#accordion2" href="#collapseThree">Ocultar Comunicado</a></div>
                    </div>
                 </div>
                    </div>
                  </div>
                </div>
              </div>
                    </div>
                </div>
                <!--CONTEÚDO END-->
      </div>
      <!--BOX COMUNICADOS END-->