<!-- BOX MENSAGEM -->
<div class="row">
  <div class="col-sm-12">
   <div class="filtro-principal">
    <h5 class="tit-azul">Mensagens</h5>
    <textarea class="form-control" placeholder="Escreva sua Mensagem" 
              style="resize: vertical" rows="3"></textarea>  
    <img class="space-left marcador-mensagens" 
                 src="{{ asset('bundles/pmcintranet/img/ico-marcador-mensagem.png') }}" 
                 width="22" height="14" />
    <table width="100%">
     <tr>
      <td>
        <ul class="nav nav-pills">
         <li class="utilidade-ativo">
          <a href="#"><img src="{{ asset('bundles/pmcintranet/img/btn-texto-msg.png') }}" 
             width="28" height="32" /></a></li>
         <li>
          <a href="#"><img src="{{ asset('bundles/pmcintranet/img/btn-imagem-msg.png') }}" 
             width="45" height="32" /></a></li>
         <li>
          <a href="#"><img src="{{ asset('bundles/pmcintranet/img/btn-video-msg.png') }}" 
             width="30" height="32" /></a></li>
        </ul>            
      </td>  
      <td style="text-align: right; vertical-align: middle">
          <button type="button" class="btn btn-primary btn-sm">Enviar</button>
      </td>  
     </tr>
    </table> 
   </div>  
  </div>
</div>  
<!-- BOX MENSAGEM END -->